<div v-if="loaded">
  <div v-if="curr">
    <router-link class="button is-primary is-pulled-right" :to="{name:'paroform'}">
      podat/upravit projekt
    </router-link>
    <h2 class="title">{{ curr.name }}</h2>
    <p>
      Začátek podávání návrhů: {{ curr.submission_start | date }}<br/>
      Konec navrhování: {{ curr.submission_end | date }}<br/>
      Začátek ověřování návrhů: {{ curr.thinking_start | date }}<br/>
      Začátek hlasování v anketě: {{ curr.voting_start | date }}<br/>
      Konec hlasování: {{ curr.voting_end | date }}<br/>
      Limit rozpočtu návrhu: {{ curr.budgetlimit }} Kč<br/>
      Počet palečků základní podpory: {{ curr.minimum_support }}
    </p>
    <hr />
    <div class="columns">
      <ProjectCard v-for="i,idx in projekty" :key="idx" :proj="i" :call="curr" />
    </div>
  </div>
  <span v-else>Není žádná aktuální výzva</span>
</div>