<div>
  {{ data[cfg.name] }}
  <button class="button" @click="show">upravit</button>

  <div class="modal" :class="{'is-active': shown}">
    <div class="modal-background"></div>
    <div class="modal-content">
      posunem markeru vyberte polohu
      <div id="mapContainer" style="width: 100%; height: 400px;"></div>
      <a @click.prevent="shown=false" role="button" class="secondary">Cancel</a>
      <a @click.prevent="onSubmited" role="button">OK</a>
    </div>
    <button class="modal-close is-large" aria-label="close" 
      @click.prevent="onSubmited"></button>
  </div>

</div>